@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

.Blogcard{
    height: fit-content;
    width: 100%;
    background-color: rgb(231, 227, 227);
    padding: 20px;
    display: flex;
    flex-direction: column;
    border-radius: 3%;
    gap: 15px;
}
.blogImage{
    width: 100%;
    border-radius: 3%;
}
.blogHeading1{
    display: flex;
    flex-direction: row;
    gap: 9%;
    font-size: 12px;
    font-weight: 500;
}

.blogdate{
    color: rgb(137, 141, 141);
}

.blogcontext{
    color: rgb(62, 62, 62);
}

.blogHeading2{
    font-weight: 550;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}
.blogContent{
    display: -webkit-box;   
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;     
    overflow: hidden; 
    font-family: 'Open Sans', sans-serif;
    font-weight: 550;
    line-height: 20px;
    font-size: 16px;
}

  